<nav class="navbar">
  <div class="logo">
    <a href="#">MyLogo</a>
  </div>
  <ul class="nav-links">
    <li routerLink="/defer-loading"><a>defer 1</a></li>
    <li routerLink="/defer-loading2"><a>defer 2</a></li>
    <li><a routerLink="/c1">c1</a></li>
    <li><a routerLink="/c2">c2</a></li>
    <li><a routerLink="/admin1">admin1</a></li>
    <li><a routerLink="/admin2">admin2</a></li>
  </ul>
  <div class="menu-icon" id="menu-icon">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</nav>

<router-outlet />
